
a, a:visited, a:hover, a:active{
    color:#999999;
    text-decoration: none;
}

@font-face{
    font-family: "Zector";
    src: url("../font/Zector.otf");
}

body{
    background-color:#303030;
    margin: 0;
    height: 2500px;
    background-attachment:fixed;
}
header{
    color: #999999;
    background-color:#303030;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: lighter;
}

.sticky-container{
    color: #999999;
    background-color: #424242 ;
    font-size: 35px;
    font-family: "Zector", Verdana, Geneva, Tahoma, sans-serif;
    height: 75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /* background: rgba(66,66,66,.4); */
    z-index:0;
    background: linear-gradient(0,rgba(66,66,66,0), rgba(26,26,26,.6), rgba(26,26,26,1))

}

.nav-button{
    padding: 15px;
}

#nav-button1{
   margin-right: auto;
   margin-left: 50px;
   color: #8080ff;

}

#nav-button5{
    margin-right: 50px;
    color: #8080ff;
}

.container1{
    position:relative;
}

.picturecontainer{
    height:800px;
}

.picture1{
    position: absolute;
    height: 650px;
    width: auto;
    z-index:-1;
    box-shadow: 5px 5px 30px;
    margin-left: 17vw;
    margin-right: 25vw;
    margin-top: 100px;
}

.darkerline{
    position: absolute;
    background-color:#1a1a1a;
    margin-top: 175px;
    width:100vw;
    height: 500px;
    z-index:-2;
}

.name{
    display: absolute;
    height:100px;
    color: #8080ff;
    font-family: "Zector", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120px;
    margin-left: 850px;
}

.career{
    display: absolute;
    height:50px;
    color: #999999;
    font-family: "Zector", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-left: 850px;
    margin-top:20px;
}

.description{
    display: absolute;
    height:250px;
    width: 900px;
    color: #8d8d8d;
    font-family: "Zector", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 850px;
    margin-top:20px;
}